body{

background:#f4f4f4;

font-family:Arial;

text-align:center;

}

.container{

margin-top:40px;

}

canvas{

border:3px solid black;

background:black;

cursor:crosshair;

}

button{

padding:12px 25px;

font-size:18px;

margin:10px;

background:#007bff;

color:white;

border:none;

cursor:pointer;

border-radius:5px;

}

button:hover{

background:#0056b3;

}

h2{

margin-top:20px;

font-size:30px;

color:#28a745;

}